/*Name this external file gallery.css*/

body {
  background-image: url("https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif")
}

#image {
  width: 500px;
  height: 300px;
  border: 0.5rem solid #ffffff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  font-size: 75%;
  font-weight: bold;
}

.loadImg {
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview {
  width: 175px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.25rem solid #ffffff;
  border-radius: 0.25rem;
  margin: 0.5rem;
}